.vs/
*.dll
*.pdb
*.suo
*.cache
*.user
*.exe
*.config
packages/
Pakizh.Taras.RobotChallenge/obj/
Pakizh.Taras.RobotChallenge/Properties/
Pakizh.Taras.RobotChallenge/bin/
Pakizh.Taras.RobotChallenge.Test/Pakizh.Taras.RobotChallenge.Test.csproj
Pakizh.Taras.RobotChallenge.Test/Properties/
Pakizh.Taras.RobotChallenge.Test/bin/
Pakizh.Taras.RobotChallenge.Test/obj/
Pakizh.Taras.RobotChallenge.Test/packages.config
Pakizh.Taras.RobotChallenge.sln
Pakizh.Taras.RobotChallenge/Pakizh.Taras.RobotChallenge.csproj



